html {
    font-size: 100%;
}

body {
    background-color: var(--colour-background);
    color: var(--colour-foreground);
    font-family: sans-serif;
    max-width: 50em;
    padding: 1.5em 1em;
}

section {
    margin-top: 2em;
    margin-bottom: 3em;
}

h1 {
    color: var(--colour-heading);
}
