.counter--reset {
    color: grey;
}

.counter--fine {
    color: rgb(72, 255, 0);
}

.counter--warning {
    color: yellow;
}

.counter--critical {
    color: orange;
}

.counter--done {
    color: red;
}
