.posts__post {
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts__title {
    margin: 0;
    margin-right: 1rem;
}

.posts__summary {
    margin: 0;
}

.posts__content {
    flex-basis: 100%;
    margin: 0;
    margin-top: 1.5rem;
}
